.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #fff;
    background-color: #000; /* Dark background */
}

.about-content h2 {
    font-size: 36px;
    color: #00bfff; /* Neon sky blue effect for the heading */
    text-shadow: 0 0 10px #00bfff, 0 0 20px #00bfff;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 18px;
    color: #fff; /* Standard white for the paragraph */
    text-shadow: 0 0 10px #00bfff, 0 0 15px #00bfff; /* Soft neon blue shadow for the paragraph */
    margin-bottom: 20px;
}

.about-content ul {
    list-style: none;
    padding: 0;
}

.about-content li {
    font-size: 18px;
    color: #00bfff; /* Neon effect for the programming languages */
    text-shadow: 0 0 10px #00bfff, 0 0 15px #00bfff; /* Neon blue shadow for list items */
    margin: 10px 0;
}

/* Specific styles for descriptions */
.about-content li span {
    color: #fff; /* White color for descriptions */
    text-shadow: none; /* Remove shadow for descriptions */
}
